@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

:root {
	--background-color: black;
	--color: white;
	--error: orange;
	--font-family-heading: 'Comic Neue', 'Comic Sans MS', 'Chalkboard SE', sans-serif;
	--font-family: Geneva, Verdana, sans-serif;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
html {
	background-color: var(--background-color);
	box-sizing: border-box;
	color: var(--color);
	font-family: var(--font-family);
	height: 100%;
}
body {
	height: 100%;
	display: flex;
	flex-direction: column;
}
main {
	flex: 1;
}
a:active,
a:focus,
a:link,
a:visited {
	color: var(--theme-color);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--theme-color);
	font-family: var(--font-family-heading);
}
p {
	margin-bottom: 1em;
	font-size: larger;
}
li {
	list-style: none;
}
dt::after {
	content: ':';
}
.button {
	border: outset 1px var(--theme-color);
	display: inline-block;
	padding: 0.5em;
}
body > article {
	margin: 1em auto;
	max-width: 50em;
	width: 100%;
}
body > article > * {
	margin : 1em;
}
